<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing websockets</title>
    <script src="websocket.js"></script>
</head>
<body>
<div id="websockets"></div>
</body>
</html>